<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sample Form</title>
</head>

<body>
    <h1>SAMPLE FORM</h1>

    <form action="/" method="POST">
        <input type="text" placeholder="Enter your name" id="input_name" name="input_name">
        <input type="text" placeholder="Enter the price" id="input_price" name="input_price">
        <button type="submit" id="submit_btn">SUBMIT</button>
    </form>


</body>

</html>